body {
    background: white;
    color: black;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body > * {
    padding: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

header h1 {
    font-size: 28px;
}

header, .hero {
    background-color: #18212c;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

header nav {
    align-self: center;
}

header ul {
    list-style-type: none;

}

header li {
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
}

.hero {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.hero div {
    margin: auto;
    flex: 1;
    padding: 20px;
}

.hero-left > * {
    text-align: left;
}

.hero-left h2 {
    font-size: 28px;
}

.hero-left p {
    font-size: 20px;
}

.button {
    background-color: gray;
    padding: 10px;
    border-radius: 12px;
}

.hero-right {
    text-align: center;
}

.hero-right img {
    height: 40vw;
    width: 40vw;
    margin: auto;
}

.photos-header {
    text-align: center;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.image {
    margin: 20px;
    margin: auto;
}

.image img{
    width: 20vw;
    height: 20vw;
    padding: 0px;
    margin: 10px;
}

.quote {
    background-color: gray;
    text-align: center;
}

.quote blockquote {
    font-style: italic;
}

.quote p {
    font-size: 20px;
    font-weight: bold;
}

.banner {
    display: flex;
    flex-direction: row;
}

.pop-out-text {
    margin: auto;
}

.pop-out-signup {
    margin: auto;
    width: 40vw;
    padding: 20px;
}

footer {
    background-color: #18212c;
    color: white;
    text-align: center;
}